<div class="whole-side">
  <div class="container adjust-container text-center">
    <div class="job-grid-setting">
      <div class="row header">
        <div class="col-sm border-bottom">
          Jobs
        </div>
        <div class="col-sm border-bottom">
          Details
        </div>
      </div>
      <div class="row body-grid">
        <div class="col-sm">
          <div class="row-grid text-left" *ngFor="let jo of job" (click)="selectJob(jo)">
            <div> {{jo.title}}, {{jo.city}}, {{jo.zip_code}}</div>
          </div>
        </div>
        <div class="col-sm detail-grid text-left">
          <div class="detail-item">
            {{title}}
          </div>
          <div *ngIf="description">{{description}} </div>
          <div class="details" *ngIf="created_at"> created time: {{created_at | date: 'short'}}</div>
          <div class="details" *ngIf="end_date"> end time: {{end_date | date: 'short'}} </div>
        </div>
      </div>
    </div>
  </div>
</div>
