.whole-side {
  background-color: #dde2e6
}

.adjust-container {
  padding-top: 4%;
}

.job-grid-setting {
  background-color: #ffffff;
  padding-top: 12px;
}

.header {
  font-weight: bold;
}

.row-grid {
  padding-bottom: 12px;
}

.body-grid {
  padding: 12px;
  margin-bottom: 4px;
  min-height: 80vh;

}

.detail-grid {
  margin: 0 12px 0 12px;
  border-left: 1px solid #dde2e6;

}
.detail-item {
  padding-bottom: 6px;
}

@media only screen and (max-width: 600px) {
  .detail-grid {
    padding-top: 12px;
    border-top: 1px solid #dde2e6;
    border-left: none;
  }

}

